<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="utf-"8>
     <title>Argentina programa</title>
     <link rel="stylesheet" href="header.component.css">
    </head>
    <body>
      <header>
        <div class="container">
          <div class="logo">
            <img src="img/logo.png" alt="logo" class="logo.img">
            <h2 class="logo.nombre">Argentina Programa</h2>
          </div>        
         <nav> 
          <a href="#">Facebook</a>
          <a href="#">Linkedln</a>
          <a href="#">Contacto</a>
          <a href="#">Login</a>
      </nav>
        </div>
      </header>
      
      <div class="container">
       <div class="encabezado-img">
      </div>
      </div>
      
      <main class="main">
        <div class="main">
          
        </div>
      </main>
    </body>
</html>
        