*{
    margin: 0 px;
    padding:0 px;
    box-sizing: border-box;
}

.container{
 border-radius: --corner-radius-medium;
}

.headers{
    display: flex;
    justify-content: space-between;
    height: 80px;;
    width: auto;
}

.logo{
    margin: 0.5em;
    display: flex;
    align-items: center;
    color: #696969;
}

.logo img{
   margin-left: 10px;
}   

.logo-nombre{
    width: 50px;
    height: 35px;
}

nav {margin-top: 1em;
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
    height: 30px;
}

nav a{
    display: inline-flex;
    color: white;
    text-decoration: none;
    margin-top: 3px;
    padding: 5px 15px;
    border-radius: 50px;
}

 nav a:hover{
    background-color: black;
    color: #fff;
    transition: ease-in .5s;
 }

 nav a button{
    text-decoration: none;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
 }

 

