<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="utf-"8>
     <title>Argentina programa</title>
     <link rel="stylesheet" href="header.component.css">
     <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
      <header>
        <div class="container">
        <div class="headers">
          <div class="logo">
            <img src="img/logo.png" alt="logo" class="logo.img">
            <h2 class="logo.nombre">Argentina Programa</h2>
          </div>        
         <nav> 
          <a href="#">Facebook</a>
          <a href="#">Linkedln</a>
          <a href="#">Contacto</a>
          <a href="#">Login</a>
      </nav>
        </div>
        </div>
      </header>

    
    <div class="container">
      <div class="about-me">
       <div class="about">
       <img src="img/fotodeperfil.png" alt="Foto de perfil">
       </div>

      <div class="about-info">
       <h2>Sobre mí</h2>
       <div class="divider"></div>
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, fuga. Autem eligendi deserunt nostrum reprehenderit. Culpa, deserunt perspiciatis asperiores odio dicta maxime deleniti harum esse voluptatem, quasi dolor tenetur? Debitis.
       </p>
       <button class="interés">Tengo interés en...</button>
       <button class="sección">Añadir sección</button>
      </div>
    </div>

    <div class="container">
    <div class="acerca"> <h3>Acerca de</h3>
    <p>descripcion</p>
    <button></button>
    </div>
    <div class="experiencia">Experiencia</div>
    <a href="#" class="..."></a>
    </div>
  </body>
</html>
