<header>
  <div class="container-fluid bg-black">
    <div class="headers">
      <div class="logo">
        <img src="../../../assets/img/APLogo.png" alt="logo" class="logo.img" width="150" height="100">
        <h2 class="logo-nombre">#YoProgramo</h2>
      </div>
      <nav>
        <a href="#"><img src="../../../assets/img/facebook.png" id="facebook" width="40" height="40"></a>
        <a href="#"><img src="../../../assets/img/github.png" id="github" width="40" height="40"></a>
        <a href="#"><img src="../../../assets/img/linkedin.png" id="linkedin" width="40" height="40"></a>
        <a href="#"><button>Login</button></a>
      </nav>
    </div>
  </div>
  <div class="banner">
    <a href="#"><img src="../../../assets/img/banner.jpg" class="img-fluid"></a>
  </div>
</header>
