<!--acerca de-->
<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/img/fotodeperfil.png" class="img-perfil" id="fotodeperfil">
  </div>
  <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3"></div>
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
    <div class="information">
      <p id="nombre">Nombre y apellido</p>
      <p>Estudio o profesión</p>
    </div>
    <div class="acerca-de">
      <span>
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eaque amet recusandae? Voluptate corrupti
          officia, natus amet aspernatur modi nostrum omnis nesciunt aut voluptas quasi accusantium facilis dignissimos.
          Unde, vero!
        </p>
        <div class="button-acerca">
          <button type="button" class="btn btn-secondary btn-sm">Tengo interés en...</button>
          <button type="button" class="btn btn-secondary btn-sm">Añadir sección</button>
        </div>
      </span>
    </div>
  </div>
</div>