<!--hard skill and soft skill-->
<div class="skill">
    <main class="container">
      <div class="d-flex p-3 my-3 text-white bg-grey rounded shadow-sm">
        <div class="lh-1">
          <h1 class="h6 mb-0 text-black lh-1">Hard & Soft skill</h1>
        </div>
      </div>
      <p class=" pb-3 mc-0 small lh-sm">
        <strong class="d-block text-gray-dark">Skill 1</strong>
      </p>
      <div class="progress my-3">
        <div class=" progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="0"
          aria-valuemin="0" aria-valuemax="100">
        </div>
      </div>
      <p class=" pb-3 mc-0 small lh-sm">
        <strong class="d-block text-gray-dark">Skill 2</strong>
      </p>
      <div class="progress my-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%"
          aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p class=" pb-3 mc-0 small lh-sm">
        <strong class="d-block text-gray-dark">Skill 3</strong>
      </p>
      <div class="progress my-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%"
          aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p class=" pb-3 mc-0 small lh-sm">
        <strong class="d-block text-gray-dark">Skill 4</strong>
      </p>
      <div class="progress my-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%"
          aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </main>
  </div>
